name: Build Android APK

on:
  push:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-python@v5
        with:
          python-version: "3.11"

      - name: Install Buildozer
        run: |
          pip install buildozer
          sudo apt update
          sudo apt install -y \
            openjdk-17-jdk \
            libffi-dev libssl-dev \
            unzip zip

      - name: Build APK
        run: buildozer android release

      - name: Upload APK
        uses: actions/upload-artifact@v4
        with:
          name: apk
          path: bin/*.apk